@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

* {
    font-family: 'Karla', sans-serif;
}

.nav-item {
    font-size: 13px;
}

.nav-item:hover .nav-link {
    color: #32BDB9 !important;
}

#hero {
    height: 600px;
    background-image: url("hero-img.jpg");
    background-attachment: fixed;
    background-size: cover;
}

img {
    user-select: none;
}

*::selection {
    background-color: #141E28;
    color: white !important;
}

.navbar {
    user-select: none;
}

@media screen and (max-width: 900px) {
    .nav-link {
        padding-left: 0px !important;
    }

    .resp {
        padding-top: 50px !important;
    }

    .responsive {
        padding-top: 100px;
    }

    .col-2 {
        display: none;
    }
    .features{
        padding:0px 25px;
    }
}

.card {
    border: none;
    background-color: white;
    transition: all 0.2s ease-out;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.1, 1.1);
}

.btn-blue {
    border: 2px solid #32BDB9;
    color: #32BDB9;
}

.btn-blue:hover {
    background-color: #32BDB9;
    color: white;
}

.hr {
    background-color: #32BDB9;
    width: 130px;
    height: 2px;
}

.transform {
    transition: all 0.2s ease-out;
}

.transform:hover {
    transform: translateY(-10px);
}

footer a {
    color: #7f939b;
    font-size: 14px;
}

footer a:hover {
    color: #F0F1D2;
    text-decoration: none;
}

footer li {
    padding-bottom: 10px;
}

footer h5 {
    font-size: 16px;
}

.respo {
    width: auto;
}

.col-sm-10 div {
    height: 500px;
}

ul.nav-pills {
    top: 20px;
    position: sticky;
}

div.col-8 div {
    height: 500px;
}

.button {
    color: darkgrey;
}

.nav-pills .nav-link.active {
    text-decoration: underline;
    background-color: transparent;
    color: #32BDB9;
}

#section1 h5,
#section2 h5,
#section3 h5,
#section4 h5,
#section5 h5,
#section6 h5,
#section7 h5,
#section8 h5,
#section9 h5,
#section10 h5,
#section11 h5,
#section12 h5 {
    font-weight:600;
    padding:30px 0px;
}
.accordion {
  background-color: transparent;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-bottom:1px solid darkgrey;
  transition: 0.4s;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}